.bg {
  background-color: #06121e;
}

.btn-sub {
  background-color: #ffe08a;
  border-color: transparent;
  color: rgba(0, 0, 0, 0.7);
}

.icon-edit:hover {
  color: #ffe08a !important;
}

.icon {
  display: none;
}

.image:hover .icon {
  display: block;
}

.fs-y::before{
  font-size: 20px;
}

button.delete {
  border: none;
  padding: 0.25rem 0.45rem;
  border-radius: 8px;
}

form h1 {
  color: black;
  font-weight: bold;
}

